$divider-color: #E1E1EB;
$divider-color-light: #EFEFF4;

$font-base: #4E5665;
$font-base-lg: #54636D;
$font-light: #96A8B5;
$font-lighter: #E9F5FD;
$font-grey: #758590;
$font-dark-blue: #153A7F;
$font-blue: #21A3F3;
$font-green: #89C948;
$font-red: #EF5860;

$border-orange: #F8C439;
$border-grey: #EBEBF1;