.ParkingLotPanel {
  font-family: $default-font-family;
  color: $font-base;

  width: 100%;
  background-color: #F3F3F3;
  padding-top: 50px;
  padding-bottom: 50px;

  &__wrapper {
    max-width: 90%;

    margin: {
      left: auto;
      right: auto;
    }
  }
}