@mixin submit-button {
  background: $border-orange;
  box-shadow: 0 1px 0 0 #C89612;
  border-radius: 4px;
  font-size: 0.94em;
  color: #FFFFFF;
  font-weight: 200;
  cursor: pointer;

  &:disabled {
    background-color: $font-grey;
    box-shadow: 0 1px 0 0 #C4C4C4;
    cursor: wait;
  }
}

@mixin button-like-link {
  color: $font-blue;
  cursor: pointer;
}